:root {
	--cp-color--primary: #ffffff;
	--cp--background: transparent;
	--cp--text-color: inherit;

	--cp-grid--sm: 576px;
	--cp-grid--md: 768px;
	--cp-grid--lg: 1025px;
	--cp-grid--xl: 1280px;
	--cp-grid--xxl: 1920px;
}
