@import 'mixins/_breakpoints.scss';

.cp-pg-template {
	max-width: 100%;
	width: var( --cp-content-width );
	margin: var(--cp-gap--md) auto;
	padding-top: var(--cp-gap--lg);
	padding-bottom: var(--cp-gap--lg);
	flex-grow: 1;

	@include media-breakpoint-down(md) {
		max-width: calc(100vw - var(--cp-content-padding));
    width: 100%;
	}

	.cp-pagination {
		ul {
			display: flex;
			justify-content: center;

			li > div:hover {
				background: transparent;
			}
		}

		button, div {
			color: var(--cpl--text-color);
		}

	}
}
